* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


.wrrap {
  height: 100vh;
  display: flex;
  align-items: center;

}

.wrrap .container{
  width: 50%;
  background-color: #ccc;
  padding: 10px 30px;
}

.wrrap .container button{
  display: block;
  padding: 5px 20px;
  margin: 0 auto;
}

.wrrap .box {
  display: flex;
  padding: 10px 0;
  align-items: center;
}

.wrrap .img{
  width: 100px;
}

.wrrap .img img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}


/*media query about container*/

@media (max-width:767px) {}


/**********min***********/

@media (min-width: 576px) {}

@media(min-width:768px) {
  .container {
      width: 750px;
  }
}

@media(min-width:992px) {
  .container {
      width: 970px;
  }
}

@media(min-width:1200px) {
  .container {
      width: 1170px;
  }
}