* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  list-style: none;
}




.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}




header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 30px 0; */
  transition: 0.3s;
  z-index: 2222;
  background-color: #00bcd44d;
}


header.active {
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0 1px 10px #cccccc6b;
  z-index: 22222;
}

/* Start section header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


header .logo img {
  width: 130px;
}



header .nav .parent li {
  display: block;
  padding: 15px;
  text-transform: capitalize;
}



header .nav .parent li a {
  position: relative;
  transition: 0.3s;
  font-size: 17px;
  color: var(--color-gray)
}

header .nav .parent li a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-blue);
  bottom: -5px;
  transition: 0.3s;
  /* right: 0; */
}

header .nav .parent li:hover a {
  color: var(--color-blue);
}

header .nav .parent li:hover a::before {
  width: 100%;
  /* left: 0; */
}

header .mobile {
  display: none;
  border: none;
  background-color: #b2ebf2;
}




@media (min-width: 992px) {
  header .nav {
    height: auto !important;
  }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {



  header .nav {
    width: 100%;
    z-index: 2;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
  }

  header .nav.active {
    /* height: auto; */
  }

  header .nav .parent {
    /* height: 330px; */
    padding: 15px 0;
    width: 100%;
    background-color: white;
    /* height: auto; */
  }


  header .mobile {
    display: block;
    font-size: 20px;
    color: var(--color-black);
  }

  header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }



  header .nav .parent li:hover a {
    padding-left: 15px;
  }

  header .nav .parent li:hover a::before {
    width: 0;
  }
}


@media (min-width: 992px) {
  header .nav .parent {
    display: flex !important;
    align-items: center;
  }
}

/* End section header */




@media(min-width:768px) {
  .container {
    width: 750px;
  }
}

@media(min-width:992px) {
  .container {
    width: 970px;
  }
}

@media(min-width:1200px) {
  .container {
    width: 1170px;
  }
}